[Unit]
Description=Miniflux
Documentation=https://miniflux.app/docs/index.html

[Container]
ContainerName=miniflux
Image=ghcr.io/miniflux/miniflux:latest
#Environment=DATABASE_URL=postgres://miniflux:password@host/miniflux?sslmode=disable
Secret=miniflux-database-url,type=env,target=DATABASE_URL
Environment=RUN_MIGRATIONS=1 
Environment=CREATE_ADMIN=1 
Environment=ADMIN_USERNAME=admin
#Environment=ADMIN_PASSWORD=password 
Secret=miniflux-admin-pass,type=env,target=ADMIN_PASSWORD
Network=miniflux.network
PublishPort=8080:8080
#HealthCmd=["/usr/bin/miniflux","-healthcheck","auto"]
#HealthInterval=10s
#HealthStartPeriod=30s
#HealthOnFailure=kill

[Service]
TimeoutStartSec=900
TimeoutStopSec=300

[Install]
WantedBy=default.target